@import '../../app/variables';

.Tag {
  color: $color-primary;
  background-color: $color-primary-light;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-weight: bold;
  font-size: 0.75rem;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $color-primary;
    color: white;
  }
}
